<!-- Start Footer Section -->
<footer class="section footer">
	<div class="section__container">
		<div class="footer__content-container">
			<div class="section__content-container">
				<div class="footer__left">
					<p class="footer__paragraph paragraph">ИП Емельянчик Екатерина Валентиновна</p>
					<p class="footer__paragraph paragraph">Свидетельство о государственной регистрации № 692204980,<br>выданное
						Минским райисполкомом 01.06.2022г.</p>
					<p class="footer__paragraph paragraph">Адрес: 223039, Республика Беларусь, Минская обл., Минский р-н,<br>
						аг.Хатежино, ул.Мира, 17а, кв.73</p>
					<p class="footer__paragraph paragraph">УНП 692204980</p>
					<p class="footer__paragraph paragraph">ЗАО "Альфа-Банк"</p>
					<p class="footer__paragraph paragraph">ул. Сурганова, 43-47, 220013 Минск, Республика Беларусь</p>
					<p class="footer__paragraph paragraph">р/с: BY14ALFA30132C20500010270000</p>
					<p class="footer__paragraph paragraph">код банка: ALFABY2X</p>
					<p class="footer__paragraph paragraph">код платежа 23501</p>
					<p class="footer__paragraph paragraph">Телефон: +375291546112 | Email: katerina.yemialyanchyk@gmail.com</p>
				</div>
				<div class="footer__right">
					<p class="paragraph">
						<a href="/privacy-policy.html" class="link">Политика конфиденциальности и обработки персональных данных</a>
					</p>
					<p class="paragraph">
						<a href="/payment-methods.html" class="link">Способы оплаты</a>
					</p>
					<p class="paragraph">
						<a href="/oferta.html" class="link">Оферта</a>
					</p>
					{{#each social-icon.list}}
					{{> social-icon}}
					{{/each}}
				</div>
			</div>
		</div>
		<div class="footer__copyright">
			&copy; 2024 Екатерина Емельянчик. Все права защищены.
		</div>
	</div>
</footer>
<!-- End Footer Section -->
