<footer class="section footer">
	<div class="section__container">
		<div class="section__content-container">
			<div class="footer__text">
				<p class="footer__paragraph paragraph">ИП Емельянчик Екатерина Валентиновна</p>
				<p class="footer__paragraph paragraph">УНП 692204980</p>
				<p class="footer__paragraph paragraph">ЗАО "Альфа-Банк"</p>
				<p class="footer__paragraph paragraph">ул. Сурганова, 43-47, 220013 Минск, Республика Беларусь</p>
				<p class="footer__paragraph paragraph">р/с: BY14ALFA30132C20500010270000</p>
				<p class="footer__paragraph paragraph">код банка: ALFABY2X</p>
				<p class="footer__paragraph paragraph">код платежа 23501</p>
			</div>
			<div class="footer__social-icon">
				{{#each social-icon.list}}
				{{> social-icon}}
				{{/each}}
			</div>
		</div>
		<div class="footer__copyright">
			&copy; 2024, Все права защищены.
		</div>
	</div>
</footer>
