@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
// @include foundation-progress-bar;
// @include foundation-slider;
@include foundation-range-input;
// @include foundation-switch;
// @include foundation-table;
// Basic components
// @include foundation-badge;
// @include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
// @include foundation-dropdown;
// @include foundation-pagination;
@include foundation-tooltip;

// Containers
// @include foundation-accordion;
@include foundation-media-object;
// @include foundation-orbit;
@include foundation-responsive-embed;
// @include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
// @include foundation-accordion-menu;
// @include foundation-drilldown-menu;
// @include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;


// CUSTOM STYLES

// Global
@import 'global/variables';
@import 'global/typography';
@import 'global/layout';
@import 'global/nav-landing';
@import 'global/top-bar';
@import 'global/footer';
@import 'global/article';

// Sections
@import 'sections/section';
@import 'sections/first-screen';
@import 'sections/about-me';
@import 'sections/services';
@import 'sections/payment-vendor';
@import 'sections/contact';

// Pages
@import 'pages/error-page';

// Components
@import 'components/buttons/button';
@import 'components/icons/icon';
@import 'components/forms/form';

/* Owl Carousel */

.owl-prev {
	background: url('https://res.cloudinary.com/milairagny/image/upload/v1487938188/left-arrow_rlxamy.png') left center no-repeat;
	height: 54px;
	position: absolute;
	top: 50%;
	width: 27px;
	z-index: 1000;
	left: 2%;
	cursor: pointer;
	color: transparent;
	margin-top: -27px;
}

.owl-next {
	background: url('https://res.cloudinary.com/milairagny/image/upload/v1487938220/right-arrow_zwe9sf.png') right center no-repeat;
	height: 54px;
	position: absolute;
	top: 50%;
	width: 27px;
	z-index: 1000;
	right: 2%;
	cursor: pointer;
	color: transparent;
	margin-top: -27px;
}

.owl-prev:hover,
.owl-next:hover {
	opacity: 0.5;
}


/* Owl Carousel */
.container {
	width: 1170px;
	margin: 0 auto;
}

.gallery-item {
	position: relative;

	img {
		opacity: 1;
		transition: opacity 0.35s;

		&:before {
			position: absolute;
			content: "";
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: #14222d;
			background-image: url(http://randomsite.zzz.com.ua/cabel/img/s8_zoom.png);
			background-position: center;
			background-repeat: no-repeat;
		}

		&:hover {
			img {
				opacity: .2;
				transition: opacity 0.35s;
			}
		}
	}
}

.owl-prev {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.owl-next {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
