/* =======
   ARTICLE
   ======= */
.article {
	color: $text-color;

	&__header {
		padding: 20px 0;
		text-align: center;
	}

	&__title {
		font-size: 28px;
	}

	&__subtitle {
		padding: 20px 0;
		text-align: center;
	}

	&__text {
		@include breakpoint(small) {
			padding: 0;
		}

		@include breakpoint(medium up) {
			padding: 20px 0;

		}
	}
}
