/* =======
   TOP BAR
   ======= */
.top-bar {
	@include xy-grid-layout($n: 3);
}

.top-bar-left {
	@include breakpoint(small) {
		@include xy-cell(12);
		@include flex-align($x: center, $y: stretch);
	}

	@include breakpoint(medium up) {
		@include xy-cell(shrink);
	}
}

.top-bar-center {
	@include breakpoint(small) {
		@include xy-cell(12);
		text-align: center;
		padding-bottom: 10px;
	}

	@include breakpoint(medium up) {
		@include xy-cell(4);
		text-align: center;
		padding-bottom: 0;
	}
}

.top-bar-right {
	@include breakpoint(small) {
		@include xy-cell(12);
		text-align: center;
	}

	@include breakpoint(medium up) {
		@include xy-cell(4);
		text-align: right;
	}
}
