h1 {
	@include breakpoint(small) {
		font-size: 28px;
		font-weight: bold;
		//line-height: 80px;
		letter-spacing: 0.2px;
	}

	@include breakpoint(medium up) {
		font-size: 58px;
		font-weight: bold;
		line-height: 80px;
		letter-spacing: 0.2px;
	}

}

h2 {
	@include breakpoint(small) {
		font-size: 20px;
		font-weight: bold;
		//line-height: 80px;
		letter-spacing: 0.2px;
	}

	@include breakpoint(medium up) {
		font-size: 40px;
		font-weight: bold;
		//line-height: 57px;
		letter-spacing: 0.2px;
	}
}

h3 {
	@include breakpoint(small) {
		font-size: 19px;
		font-weight: bold;
		//line-height: 80px;
		letter-spacing: 0.2px;
	}

	@include breakpoint(medium up) {
		font-size: 24px;
		font-weight: bold;
		line-height: 32px;
		letter-spacing: 0.1px;
	}
}

h4 {
	@include breakpoint(small) {
		font-size: 14px;
		font-weight: bold;
		//line-height: 80px;
		letter-spacing: 0.2px;
	}

	@include breakpoint(medium up) {
		font-size: 20px;
		font-weight: 600;
		line-height: 30px;
		letter-spacing: 0.2px;
	}

}

h5 {
	@include breakpoint(small) {
		font-size: 17px;
		font-weight: bold;
		//line-height: 80px;
		letter-spacing: 0.2px;
	}

	@include breakpoint(medium up) {
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		letter-spacing: 0.1px;
	}
}

h6 {
	@include breakpoint(small) {
		font-size: 16px;
		font-weight: bold;
		//line-height: 80px;
		letter-spacing: 0.2px;
	}

	@include breakpoint(medium up) {
		font-size: 14px;
		font-weight: bold;
		line-height: 24px;
		letter-spacing: 0.2px;
	}
}

.btn-text {
	font-size: 14px;
	font-weight: bold;
	line-height: 28px;
	letter-spacing: 0.2px;
}

.mobile-menu {
	font-size: 30px;
	font-weight: bold;
	line-height: 45px;
	letter-spacing: 0.2px;
}

.paragraph {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.2px;
}

.list {
	font-size: 20px;
	font-weight: 200;
	line-height: 30px;
	letter-spacing: 0.2px;
}

.link {
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0.2px;
}

.text-color-primary {
	color: $alert-color;
}

.text-color-dark {
	color: $dark-background-color;
}
