// Page
$page-max-width: 1920px;

// Colors
$body-background-color: #ededed;
$primary-color: #ffa62b;
$secondary-color-1: #00a0c1;
$secondary-color-2: #16697a;
$text-color: #252b42;
$second-text-color: #737373;
$light-text-color: #ffffff;
$dark-background-color: #252b42;
$light-background-color: #ffffff;
$hover-color: #2a7cc7;
$disabled-element-color: #8ec2f2;
$success-color: #2dc071;
$alert-color: #e77c40;
$danger-color: #e74040;
