/* ======
   BUTTON
   ====== */
.button {
	margin: 0;
}

.button-primary {
	font-size: 14px;
	font-weight: bold;
	line-height: 28px;
	letter-spacing: 0.2px;
	color: $light-text-color;
	background-color: $primary-color;
	padding: 8px 30px;
	@include bordered($width: 1px, $type: solid, $color: $light-text-color );
	@include border-radius(20px);

	&:hover {
		background-color: scale-color($primary-color, $lightness: -24%);
	}

	&_bg-with {

		&:focus,
		&:active {
			background-color: $primary-color;
		}
	}

	&_bg-without {
		background: none;

		&:hover {
			background-color: scale-color($primary-color, $lightness: -24%);
		}

		&:focus,
		&:active {
			background: none;
		}
	}
}
