/* ======
   BUTTON
   ====== */
.button-primary {
	font-size: 14px;
	font-weight: bold;
	line-height: 28px;
	letter-spacing: 0.2px;
	color: $light-text-color;
	background-color: $primary-color;
	padding: 8px 30px;
	@include border-radius(20px);
	margin-left: 10px;

	&:hover {
		background-color: scale-color($primary-color, $lightness: -24%);
	}

	&_bg-without {
		@include bordered($width: 1px, $type: solid, $color: $light-text-color );
		background: none;
	}
}
