<!-- Start Certificates Section -->
<section id="certificates" class="section certificates">
	<div class="section__container">
		<div class="section__headline">
			<h3 class="section__title certificates__title">Мои сертификаты</h3>
		</div>

		<!-- Start Slider Carusel -->
		<div id="certificatesSlider" class="section__content-container certificates__slider">
			{{#each certificates.list}}
			<div class="certificates__slider-item">
				<a class="certificates__slider-link" href="{{ imgLarge }}" rel="alternate">
					<img class="certificates__slider-image" src="{{ imgSmall }}" alt="{{ imgAlt }}" />
				</a>
			</div>
			{{/each}}
		</div>
		<!-- End Slider Carusel -->

	</div>
</section>
<!-- End Certificates Section -->
