<!-- Start Certificates Section -->
<section id="certificates" class="section certificates">
	<div class="section__container">
		<div class="section__content-container">

			<h3>Мои сертификаты</h3>

			<div class="container">
				<div class="gallery-carousel popup-gallery">

					<div class="gallery-item">
						<a href="{{root}}/assets/img/sections/certificates/3rd-stage.jpg" data-effect="mfp-zoom-in" title="">
							<img src="{{root}}/assets/img/sections/certificates/3rd-stage.jpg" alt="3-я ступень">
						</a>
					</div>

					<div class="gallery-item">
						<a href="{{root}}/assets/img/sections/certificates/aroma-coach-master.jpeg" data-effect="mfp-zoom-in"
							title="">
							<img src="{{root}}/assets/img/sections/certificates/aroma-coach-master.jpeg" alt="Арома Коуч Мастер">
						</a>
					</div>

					<div class="gallery-item">
						<a href="{{root}}/assets/img/sections/certificates/coach-practitioner.jpeg" data-effect="mfp-zoom-in"
							title="">
							<img src="{{root}}/assets/img/sections/certificates/coach-practitioner.jpeg" alt="Коуч Практик">
						</a>
					</div>

					<div class="gallery-item">
						<a href="{{root}}/assets/img/sections/certificates/enneagram-master.jpg" data-effect="mfp-zoom-in" title="">
							<img src="{{root}}/assets/img/sections/certificates/enneagram-master.jpg" alt="Мастер Эннеаграммы">
						</a>
					</div>

					<div class="gallery-item">
						<a href="{{root}}/assets/img/sections/certificates/enneagram-practitioner.jpg" data-effect="mfp-zoom-in"
							title="">
							<img src="{{root}}/assets/img/sections/certificates/enneagram-practitioner.jpg" alt="Практик Эннеаграммы">
						</a>
					</div>

				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Certificates Section -->
