<!-- Start Contact Section -->
<section id="contact" class="section contact">
	<div class="section__container">
		<div class="section__content-container contact__content-container">
			<div class="contact__text">
				<h3 class="contact__title text-color-dark">Контакт со мной</h3>
				<div class="section__content">
					<p class="paragraph text-color-dark">Есть вопросы? Просто заполните форму ниже, и я свяжусь с Вами в течение
						24 часов.</p>
				</div>
			</div>
			<div class="contact__form">
				{{> form-contact-email}}
			</div>
		</div>
	</div>
</section>
<!-- End Contact Section -->
