<!-- Start First Screen Section -->
<section id="firstScreen" class="section first-screen">
	<div class="section__container">
		<div class="section__content-container">
			<div class="first-screen__offer">
				<div class="offer">
					<h1 class="offer__title">Трансформационный Коуч</h1>
					<h5 class="offer__desc">Со мной Вы пройдёте через путь глубинных изменений, чтобы начать жить свою жизнь и
						слышать
						свои истинные желания</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="first-screen__cta">
		<a href="https://wa.me/375291546112" class="button button-primary button-primary_bg-with"
			target="_blank">Записаться</a>
		<a href="https://docs.google.com/forms/d/e/1FAIpQLScS1EZngd8zOYWHAUx1YkIXUcFQigUs5UmRLdyusV1rW-HzZg/viewform"
			class="button button-primary button-primary_bg-without" target="_blank">Заполнить анкету</a>
	</div>
</section>
<!-- End First Screen Section -->
