<section id="firstScreen" class="section first-screen">
	<div class="section__container">
		<div class="section__content-container">
			<div class="first-screen__offer">
				<div class="offer">
					<h1 class="offer__title">Трансформационный Коуч</h1>
					<h4 class="offer__desc">Со мной Вы пройдёте через путь глубинных изменений, чтобы начать жить свою жизнь и
						слышать
						свои истинные желания</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="first-screen__cta">
		{{> button-primary}}
		{{> button-primary-without-bg}}
	</div>
</section>
