<!-- Start Services Section -->
<section id="services" class="section services">
	<div class="section__container">
		<div class="section__headline">
			<h3 class="section__title services__title">Коучинговое сопровождение*</h3>
		</div>
		<div class="section__content-container">
			<div class="section__paragraph services__paragraph">
				<p class="paragraph"><strong>Если вы готовы выйти из страхов, страданий, разобрать хаос и
						туман в голове, которые отнимают вашу энергию, приобрести состояние гармонии и счастья и жить свою
						жизнь</strong></p>
				<p class="paragraph"><small>*сопровождение от 3-х месяцев исходя из стоимости 280 BYN / 80 EUR
						/ 8000
						RUB за сессию
						длительностью 55 минут</small></p>
			</div>
			<div class="services__button">
				<a href="/service-rules.html" class="button button-primary button-primary_bg-with">Подробнее</a>
				<a href="https://wa.me/375291546112" class="button button-primary button-primary_bg-with"
					target="_blank">Записаться</a>
			</div>
		</div>
	</div>
</section>
<!-- End Services Section -->
