<!-- Start Services Section -->
<section id="services" class="section services">
	<div class="section__container">
		<div class="section__content-container services__content-container">
			<div class="services__text">
				<h3 class="services__title text-color-primary">Коучинговое сопровождение*</h3>
				<div class="section__content">
					<p class="paragraph text-color-dark">Если вы готовы выйти из страхов, страданий, разобрать хаос и
						туман в голове, которые отнимают вашу энергию, приобрести состояние гармонии и счастья и жить свою жизнь</p>
					<p class="paragraph text-color-dark"><small>*сопровождение от 3-х месяцев исходя из стоимости 280 BYN / 80 EUR
							/ 8000
							RUB за сессию
							длительностью 55 минут</small></p>
				</div>
			</div>
			<div class="services__button">
				<a href="/service-rules.html" class="button button-primary button-primary_bg-with">Подробнее</a>
				<a href="https://wa.me/375291546112" class="button button-primary button-primary_bg-with"
					target="_blank">Записаться</a>
			</div>
		</div>
	</div>
</section>
<!-- End Services Section -->
