<!-- Start Form Contact E-mail -->
<form action="send.php" method="POST" class="form" data-abide novalidate>
	<div data-abide-error class="callout alert" style="display: none;">
		<i class="fi-alert"></i>
		<p>В вашей форме есть некоторые ошибки!</p>
	</div>
	<label>
		<input class="form__input" type="text" name="name" placeholder="Имя*" aria-describedby="name"
			aria-errormessage="nameError" required>
		<span class="form-error" data-form-error-on="required">
			Эй, тебе лучше заполнить это, это обязательно!
		</span>
	</label>
	<label>
		<input class="form__input" type="email" name="email" placeholder="e-mail*" aria-describedby="email"
			aria-errormessage="emailError" required pattern="email">
		<span class="form-error" data-form-error-on="required">
			Эй, тебе лучше заполнить это, это обязательно!
		</span>
		<span class="form-error" data-form-error-on="pattern">
			Неверный адрес электронной почты!
		</span>
	</label>
	<label>
		<input class="form__input" type="tel" name="phone" placeholder="Номер телефона (telegram, whatsapp)">
	</label>
	<lavel>
		<input type="hidden" name="rz">
	</lavel>
	<input type="submit" class="button button-primary button-primary_bg-with" value="Отправить">
</form>
<!-- End Form Contact E-mail -->
