/* ================
   ABOUT ME SECTION
   ================ */
.about {
	background:
		linear-gradient(rgba(0, 0, 0, 1), rgba(37, 43, 66, 1));
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-position: top;

	&__img {
		@include breakpoint(small) {
			@include xy-cell(12);
		}

		@include breakpoint(medium up) {
			@include xy-cell(5);
		}
	}

	&__article {
		@include breakpoint(small) {
			@include xy-cell(12);
		}

		@include breakpoint(medium up) {
			@include xy-cell(7);
			@include flex-align-self(middle);
		}
	}

	&__article-title {
		@include breakpoint(small) {
			margin-top: 25px;
			color: $light-text-color;
		}

		text-align: center;
	}

	&__article-text {
		color: $light-text-color;
		margin-top: 25px;
	}
}
