/* ==============
   GLOBAL SECTION
   ============== */
.section {

	&__container {
		@include xy-grid-container;
	}

	&__content-container {
		@include xy-grid;
		padding: 20px 0;
	}

	&__headline {
		@include xy-cell;
		padding: 40px 0 20px 0;
	}

	&__paragraph {
		padding: 20px 0;
	}
}
