/* ================
   SERVICES SECTION
   ================ */
.services {

	&__content-container {
		padding: 40px 0;
	}

	&__text {
		@include breakpoint(small) {
			@include xy-cell(12);
		}

		@include breakpoint(medium up) {
			@include xy-cell(8);
		}
	}

	&__button {
		@include breakpoint(small) {
			@include xy-cell(12);
			text-align: center;
		}

		@include breakpoint(medium up) {
			@include xy-cell(4);
			text-align: right;
		}

		@include flex-align-self(middle);
	}
}
