/* ================
   SERVICES SECTION
   ================ */
.services {

	&__title {
		@include separator($align: left, $height: 3px, $background: $primary-color);
		color: $primary-color;
	}

	&__paragraph {
		@include breakpoint(small) {
			@include xy-cell(12);
		}

		@include breakpoint(medium up) {
			@include xy-cell(8);
		}

		color: $text-color;
	}

	&__button {
		@include breakpoint(small) {
			@include xy-cell(12);
			text-align: center;
		}

		@include breakpoint(medium up) {
			@include xy-cell(4);
			text-align: right;
		}

		@include flex-align-self(middle);
	}
}
