<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Екатерина Емельянчик - Трансформационный Коуч</title>
	<link rel="stylesheet" href="{{root}}assets/css/app.css" />
</head>

<body>

	<div class="page">

		<!-- Start Navbar -->
		<div class="page__top-bar">
			<div class="page__container">

				<div class="top-bar">

					<div class="top-bar-left">
						{{> nav-landing}}
					</div>

					<div class="top-bar-center">
						{{> logo}}
					</div>

					<div class="top-bar-right social-icon">
						{{#each social-icon.list}}
						{{> social-icon}}
						{{/each}}
					</div>
				</div>

			</div>
		</div>
		<!-- End Navbar -->

		{{> body}}

	</div>

	<script src="{{root}}assets/js/app.js"></script>
</body>

</html>
