<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ title }}</title>
	<meta name="keywords" content="">
	<meta name="description" content="{{ description }}" />
	<link rel="stylesheet" href="{{root}}assets/css/app.css" />
</head>

<body>
	<div class="page">
		<!-- Start Top Bar -->
		<div class="page__top-bar">
			<div class="page__container">
				{{> top-bar}}
			</div>
		</div>
		<!-- End Top Bar -->
		<main id="main" class="site-main">
			{{> body}}
		</main>
	</div>
	<script src="{{root}}assets/js/app.js"></script>
</body>

</html>
